## Verilerin istatistiksel olarak incelemesi ve aykırı değerlerin ayıklanması

### Paketlerin yüklenmesi

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### verilerin yüklenmesi

In [11]:
df=pd.read_csv('data/data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   district      3002 non-null   object
 1   neighborhood  3002 non-null   object
 2   square_meter  3002 non-null   float64
 3   gold_gr       3002 non-null   float64
 4   type          3002 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 117.4+ KB
None

In [12]:
df['district']=df['district'].astype('category')
df['neighborhood']=df['neighborhood'].astype('category')
df['type']=df['type'].astype('category')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   district      3002 non-null   category
 1   neighborhood  3002 non-null   category
 2   square_meter  3002 non-null   float64
 3   gold_gr       3002 non-null   float64
 4   type          3002 non-null   category
dtypes: category(3), float64(2)
memory usage: 80.2 KB

### numeric değişkenlerin minimumi maximum ve çeyreklik değerlerinin bulunması.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   district      3002 non-null   category
 1   neighborhood  3002 non-null   category
 2   square_meter  3002 non-null   float64
 3   gold_gr       3002 non-null   float64
 4   type          3002 non-null   category
dtypes: category(3), float64(2)
memory usage: 80.2 KB

In [16]:
columns=df.select_dtypes(include=np.number).columns

In [17]:
print(columns)

Index(['square_meter', 'gold_gr'], dtype='object')

In [18]:
min_values=[]
max_values=[]
for col in columns:
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)
    IQR=Q3-Q1
    min_value=Q1-1.5*IQR
    max_value=Q3+1.5*IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {col} min:{min_value} max: {max_value}")

Column: square_meter min:-2312.5 max: 4587.5
Column: gold_gr min:-6888.968203147143 max: 13371.159236203694

### Aykırı değerlerin düzenlenmesi

In [19]:
for i, col in enumerate(columns):
    df=df[(df[col]>=min_values[i])&(df[col]<=max_values[i])]
    print(col, min_values[i],max_values[i])

square_meter -2312.5 4587.5
gold_gr -6888.968203147143 13371.159236203694

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2360 entries, 1 to 3001
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   district      2360 non-null   category
 1   neighborhood  2360 non-null   category
 2   square_meter  2360 non-null   float64
 3   gold_gr       2360 non-null   float64
 4   type          2360 non-null   category
dtypes: category(3), float64(2)
memory usage: 85.9 KB

In [21]:
df.describe()

       square_meter       gold_gr
count   2360.000000   2360.000000
mean     774.488136   2414.914554
std      886.768916   2667.678149
min        1.000000      0.000262
25%      248.000000    534.715151
50%      428.000000   1338.428108
75%      953.250000   3411.679491
max     4553.000000  13121.844196

In [25]:
df=df[df['square_meter']>=10]
df=df[df['gold_gr']>=1]

In [26]:
df.describe()

       square_meter       gold_gr
count   2338.000000   2338.000000
mean     775.637725   2436.575324
std      885.380510   2670.394395
min       10.000000      2.309445
25%      250.000000    551.117456
50%      430.000000   1361.522423
75%      954.750000   3487.130095
max     4553.000000  13121.844196

In [27]:
df.to_csv('data/clean_data.csv', index=False)