## Verilerin istatistiksel olarak incelemesi ve aykırı değerlerin ayıklanması

### Paketlerin yüklenmesi

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### verilerin yüklenmesi

In [3]:
df=pd.read_csv('data/data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          3002 non-null   object
 1   district      3002 non-null   object
 2   neighborhood  3002 non-null   object
 3   square_meter  3002 non-null   float64
 4   gold_gr       3002 non-null   float64
 5   type          3002 non-null   int64
 6   total_gold    3002 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 164.3+ KB
None

In [9]:
df['city']=df['city'].astype('category')
df['district']=df['district'].astype('category')
df['neighborhood']=df['neighborhood'].astype('category')
df['type']=df['type'].astype('category')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          3002 non-null   category
 1   district      3002 non-null   category
 2   neighborhood  3002 non-null   category
 3   square_meter  3002 non-null   float64
 4   gold_gr       3002 non-null   float64
 5   type          3002 non-null   category
 6   total_gold    3002 non-null   float64
dtypes: category(4), float64(3)
memory usage: 106.7 KB

### numeric değişkenlerin minimumi maximum ve çeyreklik değerlerinin bulunması.

In [11]:
columns=df.select_dtypes(include=np.number).columns

In [12]:
print(columns)

Index(['square_meter', 'gold_gr', 'total_gold'], dtype='object')

In [13]:
min_values=[]
max_values=[]
for col in columns:
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)
    IQR=Q3-Q1
    min_value=Q1-1.5*IQR
    max_value=Q3+1.5*IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {col} min:{min_value} max: {max_value}")

Column: square_meter min:-2312.5 max: 4587.5
Column: gold_gr min:-8.534697418412648 max: 16.634642296766675
Column: total_gold min:-6888.968203147143 max: 13371.159236203694

### Aykırı değerlerin düzenlenmesi

In [17]:
for i, col in enumerate(columns):
    df=df[(df[col]>=min_values[i])&(df[col]<=max_values[i])]
    print(col, min_values[i],max_values[i])

square_meter -2312.5 4587.5
gold_gr -8.534697418412648 16.634642296766675
total_gold -6888.968203147143 13371.159236203694

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2202 entries, 1 to 3001
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          2202 non-null   category
 1   district      2202 non-null   category
 2   neighborhood  2202 non-null   category
 3   square_meter  2202 non-null   float64
 4   gold_gr       2202 non-null   float64
 5   type          2202 non-null   category
 6   total_gold    2202 non-null   float64
dtypes: category(4), float64(3)
memory usage: 101.1 KB

In [19]:
df.describe()

       square_meter       gold_gr    total_gold
count   2202.000000  2.202000e+03   2202.000000
mean     814.420981  3.937902e+00   2182.620745
std      904.078192  3.774819e+00   2460.467310
min        1.000000  3.149243e-07      0.000262
25%      252.250000  1.000257e+00    485.508235
50%      467.000000  2.579755e+00   1220.331510
75%      998.750000  6.017023e+00   3132.840302
max     4553.000000  1.654014e+01  13121.844196

In [23]:
df=df[df['square_meter']>=10]
df=df[df['total_gold']>=1]

In [24]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2181 entries, 1 to 3001
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          2181 non-null   category
 1   district      2181 non-null   category
 2   neighborhood  2181 non-null   category
 3   square_meter  2181 non-null   float64
 4   gold_gr       2181 non-null   float64
 5   type          2181 non-null   category
 6   total_gold    2181 non-null   float64
dtypes: category(4), float64(3)
memory usage: 100.3 KB

       square_meter      gold_gr    total_gold
count   2181.000000  2181.000000   2181.000000
mean     815.683173     3.944171   2203.549731
std      902.688419     3.757334   2462.978195
min       11.000000     0.005273      2.309445
25%      253.000000     1.012257    524.873768
50%      470.000000     2.600531   1246.575199
75%     1000.000000     6.010509   3149.242607
max     4553.000000    16.540140  13121.844196

In [25]:
df.to_csv('data/clean_data.csv')