## Verilerin istatistiksel olarak incelemesi ve aykırı değerlerin ayıklanması

### Paketlerin yüklenmesi

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### verilerin yüklenmesi

In [38]:
df=pd.read_csv('data/data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          3002 non-null   object
 1   district      3002 non-null   object
 2   neighborhood  3002 non-null   object
 3   square_meter  3002 non-null   float64
 4   gold_gr       3002 non-null   float64
 5   type          3002 non-null   int64
 6   total_gold    3002 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 164.3+ KB
None

In [39]:
df['city']=df['city'].astype('category')
df['district']=df['district'].astype('category')
df['neighborhood']=df['neighborhood'].astype('category')
df['type']=df['type'].astype('category')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          3002 non-null   category
 1   district      3002 non-null   category
 2   neighborhood  3002 non-null   category
 3   square_meter  3002 non-null   float64
 4   gold_gr       3002 non-null   float64
 5   type          3002 non-null   category
 6   total_gold    3002 non-null   float64
dtypes: category(4), float64(3)
memory usage: 106.7 KB

### numeric değişkenlerin minimumi maximum ve çeyreklik değerlerinin bulunması.

In [41]:
df = df.drop('total_gold', axis=1)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          3002 non-null   category
 1   district      3002 non-null   category
 2   neighborhood  3002 non-null   category
 3   square_meter  3002 non-null   float64
 4   gold_gr       3002 non-null   float64
 5   type          3002 non-null   category
dtypes: category(4), float64(2)
memory usage: 83.2 KB

In [43]:
columns=df.select_dtypes(include=np.number).columns

In [44]:
print(columns)

Index(['square_meter', 'gold_gr'], dtype='object')

In [45]:
min_values=[]
max_values=[]
for col in columns:
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)
    IQR=Q3-Q1
    min_value=Q1-1.5*IQR
    max_value=Q3+1.5*IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {col} min:{min_value} max: {max_value}")

Column: square_meter min:-2312.5 max: 4587.5
Column: gold_gr min:-8.534697418412648 max: 16.634642296766675

### Aykırı değerlerin düzenlenmesi

In [46]:
for i, col in enumerate(columns):
    df=df[(df[col]>=min_values[i])&(df[col]<=max_values[i])]
    print(col, min_values[i],max_values[i])

square_meter -2312.5 4587.5
gold_gr -8.534697418412648 16.634642296766675

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2294 entries, 1 to 3001
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          2294 non-null   category
 1   district      2294 non-null   category
 2   neighborhood  2294 non-null   category
 3   square_meter  2294 non-null   float64
 4   gold_gr       2294 non-null   float64
 5   type          2294 non-null   category
dtypes: category(4), float64(2)
memory usage: 86.5 KB

In [48]:
df.describe()

       square_meter       gold_gr
count   2294.000000  2.294000e+03
mean     894.985615  4.164871e+00
std      991.487572  3.920704e+00
min        1.000000  3.149243e-07
25%      258.000000  1.030090e+00
50%      500.000000  2.756926e+00
75%     1042.750000  6.412980e+00
max     4560.000000  1.654014e+01

In [50]:
df=df[df['square_meter']>=10]
df=df[df['gold_gr']>=0.001]

In [51]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2278 entries, 1 to 3001
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          2278 non-null   category
 1   district      2278 non-null   category
 2   neighborhood  2278 non-null   category
 3   square_meter  2278 non-null   float64
 4   gold_gr       2278 non-null   float64
 5   type          2278 non-null   category
dtypes: category(4), float64(2)
memory usage: 86.0 KB

       square_meter      gold_gr
count   2278.000000  2278.000000
mean     895.222564     4.163832
std      990.504914     3.906060
min       11.000000     0.001773
25%      260.000000     1.040728
50%      500.000000     2.759588
75%     1042.750000     6.402820
max     4560.000000    16.540140

In [53]:
df.to_csv('data/clean_data.csv', index=False)